.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* loan-form */

.modal {
  display:block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Black with transparency */
}




.modal-content {
  margin: 20% auto; 
  border: 1px solid #888;
  width: 30%; 
}

.login-button {
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: white;
  font-weight: bold;
  color: teal;
  border: none;
  border-radius: 10px;
  width: 50%;
  height: 30px;
  margin-top: 20px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500px;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

h5 {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
  padding-left: 10px;
}

.show-dropdown {
  display: block;
  z-index: 9;
}

.hide-dropdown {
  display: none;
}

th {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #545f7d;
  cursor: pointer;
}
td {
  font-family: "Work Sans";
  color: #545f7d;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  opacity: 1;
}

.menu-bar {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: white;
}
.menu-bar:hover {
  background-color: #ccc;
}

.hide-menu-options {
  display: none;
}

.show-menu-options {
  position: absolute;
  z-index: 12;
  right: 10px;
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 130px;
  border: 1px solid #ccc;
}

.show-menu-options li {
  border-bottom: 1px solid #ccc;
  width: 100%;
  cursor: pointer;
}
.show-menu-options li:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  background: #39cdcc;
  color: black;
}

#active-status {
  border-radius: 10px;
  color: #39cd62;
  background-color: whitesmoke;
  padding: 5px;
  font-family: "Work sans";
}

#inactive-status {
  border-radius: 10px;
  color: grey;
  background-color: whitesmoke;
  padding: 5px;
  font-family: "Work sans";
}

#blacklisted-status {
  border-radius: 10px;
  color: red;
  background-color: pink;
  padding: 5px;
  font-family: "Work sans";
}

#pending-status {
  border-radius: 10px;
  color: yellow;
  background-color: rgb(250, 219, 224);
  padding: 5px;
  font-family: "Work sans";
}

.sidebar-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
  text-decoration: none;
  color:rgba(81, 75, 75)
}

.sidebar-link:hover {
  background-color: rgba(127, 255, 212, 0.1);
}

.sidebar-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #545f7d;
}
.nav {
  margin-left: 50px;
  justify-content: center;
  align-items: right;
  font-weight: bold;
  font-family: Calibri;
  font-size: 15px;
  color: #00308f;
  cursor: pointer;
}

.sw {
  font-size: 18px;
  margin-bottom: 30px;
  display: flex;
}

.sidebar-appear {
  display: block;
}

.appear {
  display: block;
}

.disappear {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: none;
  transform: translateY(-50%);
}
#user-table {
  max-width: 100vw;
}
#search-icon {
  font-size: 20px;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .sidebar-title {
    font-size: 10px;
    line-height: 12px;
  }
  .sidebar-link {
    font-size: 13px;
    line-height: 15px;
  }
  th {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  td {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
  }
  .sw {
    font-size: 15px;
  }
}
.dashboard-link {
  display: flex;
  margin-left: 80px;
  color: black;
  text-decoration: none;
  padding-top: 50px;
  margin-bottom: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.info-v {
  margin-right: 30px;
}

.info-u {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.info-u p {
  font-size: 14px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  color: #545f7d;
}
.acc-bal-p {
  font-size: 22px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 568px) {
  #search-icon {
    margin: 5px 30px;
  }

  #user-table {
    max-width: 100%;
  }
  .hamburger {
    height: 100%;
    display: flex;
    margin: 30px 20px 0px 0px;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .sidebar-appear {
    display: none;
  }
  .dashboard-link {
    margin: 5px;
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .info {
    margin-right: 0px;
  }
  .info h3 {
    font-size: 15px;
  }
  .info p {
    font-size: 10px;
  }
  .info-v {
    margin-right: 0px;
  }
  .info-u {
    margin-right: 0px;
  }
  .info-u p {
    font-size: 12px;
  }
  .acc-bal-p {
    font-size: 20px;
  }
}

@media screen and (min-width: 569px) and (max-width: 2000px) {
  .appear {
    display: block;
  }
  .disappear {
    display: block;
  }
}

.page-load {
  animation: 1s ease-out 0s 1 slideInTop;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Navbar */
.profile-picture {
  display: inline-block;
  
}

.profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-picture input[type='file'] {
 width: 100%;
  height: 20%;
  opacity: 1;
  cursor: pointer;
}

.notify:hover{
cursor:pointer;

animation: notice-spin infinite 1s linear;

}

@keyframes notice-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}